click==6.7
Flask==0.12.2
Flask-SSLify==0.1.5
ipaddress==1.0.19
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
netifaces==0.10.6
psutil==5.4.2
pycparser==2.18
simplepam==0.1.5
six==1.11.0
Werkzeug==0.15.3
wiringpi==2.44.4
