#editor-container{
    margin-top: 90px;
    width: calc(100vw - 35px);
}

.menubar {
    position: relative;
    width: calc(100vw - 35px);
}

#ace-logo {
    position: relative;
    left: -10px;
    width: 32px;
}

#editor {
    position: relative;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

li.nav-item {
    padding-left: 5px;
    vertical-align: middle;
    list-style-type: none;
}
