#editor-container, div#editor-container.container{
    margin-top: 90px;
    width: calc(100vw - 35px);
    overflow: hidden;
}

.menubar {
    position: relative;
    width: calc(100vw - 35px);
}

#ace-logo {
    position: relative;
    left: -30px;
    width: 32px;
}

#editor {
    position: relative;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100% - 20px);
    overflow: hidden;
}

ul.menubar {

}

li.menu-item {
    padding-left: 5px;
    vertical-align: middle;
    list-style-type: none;
    display: inline;
}

#license {
    right: 10px;
    font-size: small;
}


/* tasks */

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px #dfdfdf;
}

.task:last-child {
  border-bottom: none;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
}

.context-menu--active {
  display: block;
}
