{%extends "base.html"%}
{%block title%}Configuration{% endblock %}

{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-cog"></i> Configuration</h1>
<div class="form-group">
    <form method="post" action="/settings">
        <fieldset>
            <legend><span class="btn btn-primary" id="beacon_toggle"><i id="beacon_toggle_arrow" class="fas fa-arrow-down"></i></span> Beacon Settings</legend>
            <div id="beacon" class="config_category">
                <label for="beacon_port">Beacon Port <i class="fas fa-question-circle" id="beacon_port_info"></i></label>
                <input id="beacon_port" class="form-control" type="number" name="beacon_port" value="{{beacon_port}}"></input>
                <br/>
                <label for="beacon_interval">Beacon Interval <i class="fas fa-question-circle" id="beacon_interval_info"></i></label>
                <input id="beacon_interval" class="form-control" type="number" name="beacon_interval" value={{beacon_interval}}></input></td>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend><span class="btn btn-primary" id="web_interface_toggle"><i id="web_interface_arrow" class="fas fa-arrow-down"></i></span> Web Interface Settings</legend>
            <div id="web_interface" class="config_category">
                <label for="secret_key">Secret Key</label>
                <input id="secret_key" class="form-control" type="text" name="secret_key" value="{{secret_key}}"></input>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend><span class="btn btn-primary" id="logging_toggle"><i id="logging_arrow" class="fas fa-arrow-down"></i></span> Logging Settings</legend>
            <div id="logging" class="config_category">
                <label for="log_level">Logging Level</label>
                <select id="log_level" class="form-control form-control-sm" name="log_level">
                    <option value="50" {%if (log_level==50)%} selected {%endif%}>Critical</option>
                    <option value="40" {%if (log_level==40)%} selected {%endif%}>Error</option>
                    <option value="30" {%if (log_level==30)%} selected {%endif%}>Warning</option>
                    <option value="20" {%if (log_level==20)%} selected {%endif%}>Info</option>
                    <option value="10" {%if (log_level==10)%} selected {%endif%}>Debug</option>
                    <option value="0" {%if (log_level==0)%} selected {%endif%}>No Logging</option>
                </select>
                <br/>
                <label for="log_file">Log File</label>
                <input id="log_file" class="form-control" type="text" name="log_file" value="{{log_file}}"></input>
                <br/>
                <label for="log_file_backup">Log File Backups to Keep</label>
                <input id="log_file_backup" class="form-control" type="text" name="log_files_backup" value="{{log_files_backup}}"></input>
                <br/>
                <label for="log_file_size">Log File Size (bytes)</label>
                <input id="log_file_size" class="form-control" type="text" name="log_file_size" value="{{log_file_size}}"></input>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend><span class="btn btn-primary" id="background_threads_toggle"><i id="background_threads_arrow" class="fas fa-arrow-down"></i></span> Background Thread Settings</legend>
            <div id="background_threads" class="config_category">
                <label for="beacon_listener_enabled">UDP Beacon Receiver</label>
                <select id="beacon_listener_enabled" class="form-control" name="beacon_listener_enabled">
                    <option value="0" {%if (beacon_listener_enabled==0) %} selected {%endif%}>Disabled</option>
                    <option value="1" {%if (beacon_listener_enabled==1) %} selected {%endif%}>Enabled</option>
                </select>
                <br/>
                <label for="beacon_sender_enabled">UDP Beacon Sender</label>
                <select id="beacon_sender_enabled" class="form-control" name="beacon_sender_enabled">
                    <option value="0" {%if (beacon_listener_enabled==0) %} selected {%endif%}>Disabled</option>
                    <option value="1" {%if (beacon_listener_enabled==1) %} selected {%endif%}>Enabled</option>
                </select>
                <br/>
                <label for="background_charts_enabled">Background Chart Data Collectors</label>
                <select id="background_charts_enabled" class="form-control" name="background_charts_enabled">
                    <option value="0" {%if (beacon_listener_enabled==0) %} selected {%endif%}>Disabled</option>
                    <option value="1" {%if (beacon_listener_enabled==1) %} selected {%endif%}>Enabled</option>
                </select>
                <br/>
            </div>
        </fieldset>
        <br/>
        <input class="btn btn-primary" type="submit" value="Submit Changes"></input>
        <input class="btn btn-primary" type="submit" value="Update PiControl" id="updatePiControl" title="Pull the latest PiControl version from Github and restart"></input>
    </form>
</div>
<script>
    $('#beacon_toggle').click(function(){
        $('#beacon_toggle').toggleClass('active');
        $('#beacon').toggle();
        $('#beacon_toggle_arrow').toggleClass('fa-arrow-down fa-arrow-up');
    });
    $('#web_interface_toggle').click(function(){
        $('#web_interface_toggle').toggleClass('active');
        $('#web_interface').toggle();
        $('#web_interface_toggle_arrow').toggleClass('fa-arrow-down fa-arrow-up');
    });
    $('#logging_toggle').click(function(){
        $('#logging_toggle').toggleClass('active');
        $('#logging').toggle();
        $('#logging_toggle_arrow').toggleClass('fa-arrow-down fa-arrow-up');
    });
    $('#background_threads_toggle').click(function(){
        $('#background_threads_toggle').toggleClass('active');
        $('#background_threads').toggle();
        $('#background_threads_toggle_arrow').toggleClass('fa-arrow-down fa-arrow-up');
    });
    $('#updatePiControl').click(function(){
        $.get('/update/PiControl');
    });
</script>
{%endblock%}
