{%extends "base.html"%}
{%block title%}Configuration{% endblock %}

{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-cog"></i> PiControl Configuration</h1>
<table class="table-hover" style="width:100%;" width="100%">
    <tr><th>Setting</th><th>Value</th></tr>
    <tr><th>Beacon Port</th><td>{{beacon_port}}</td></tr>
    <tr><th>Beacon Interval</th><td>{{beacon_interval}}</td></tr>
    <tr><th>Secret Key</th><td>{{secret_key}}</td></tr>
    <tr><th>Logging Level</th><td>{{log_level}}</td></tr>
    <tr><th>Log File</th><td>{{log_file}}</td></tr>
</table>
{%endblock%}
