{%extends "base.html"%}
{%block title%}Configuration{% endblock %}

{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-cog"></i> Configuration</h1>
<form method="post" action="/settings/update">
    <table class="table-hover" style="width:100%;" width="100%">
        <tr>
            <th>Beacon Port</th>
            <td><input type="number" name="beacon_port" value="{{beacon_port}}"></input></td>
        </tr>
        <tr>
            <th>Beacon Interval</th>
            <td><input type="number" name="beacon_interval" value={{beacon_interval}}></input></td>
        </tr>
        <tr>
            <th>Secret Key</th>
            <td><input type="text" name="secret_key" value="{{secret_key}}"></input></td>
        </tr>
        <tr>
            <th>Logging Level</th>
            <td>
                <select name="log_level" value="{{log_level}}">
                    <option value="50">Critical</option>
                    <option value="40">Error</option>
                    <option value="30">Warning</option>
                    <option value="20">Info</option>
                    <option value="10">Debug</option>
                    <option value="0">No Logging</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Log File</th>
            <td><input type="text" name="log_file" value="{{log_file}}"></input></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit Changes"></input>
            </td>
        </tr>
    </table>
</form>
<script>
/*
    get_configuration();
    function get_configuration(){

    }
    setInterval(get_configuration,60000);
*/
</script>

{%endblock%}
