{%extends "base.html"%}
{%block title%}Dashboard{% endblock %}
{% block head %}
{% endblock %}
{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-tachometer-alt"></i> Dashboard</h1>
<table style="width:100%;" width="100%">
    <tr>
        <td>
            <canvas id="nodes_cpu_usage_chart" class="chartjs-container" width="500" height="200"></canvas>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <canvas id="cpu_usage_chart" class="chartjs-container" width="500" height="400"></canvas>
        </td>
        <td>
            <canvas id="cpu_temperature_chart" class="chartjs-container" width="500" height="400"></canvas>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>

        </td>
    </tr>
</table>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/chartjs_utils.js"></script>
<script>
    update_cpu_usage_chart();
    update_cpu_temperature_chart();
    update_nodes_cpu_usage_chart();

    // Charts

    var cpu_usage_chart_ctx = $("#cpu_usage_chart");
    var cpu_usage_chart = new Chart(cpu_usage_chart_ctx, {
        type: 'bar',
        data: {labels: [],datasets: [{label: "",data: []}]},
        options: {
            legend: {display:false},
            title: {text: 'CPU Usage %',display: true},
            scales: {yAxes: [{ticks: {beginAtZero:true,max:100}}]}
        }
    });

    var cpu_temperature_chart_ctx = $("#cpu_temperature_chart");
    var cpu_temperature_chart = new Chart(cpu_temperature_chart_ctx, {
        type: 'bar',
        data: {labels: [],datasets: [{label:"",data: []}]},
        options: {
            legend: {display:false},
            animation: {duration: 0},
            title: {text: 'CPU Temperature',display: true},
            scales: {yAxes: [{ticks: {beginAtZero:false}}]}
        }
    });

    var nodes_cpu_usage_chart_ctx = $("#nodes_cpu_usage_chart");
    var nodes_cpu_usage_chart = new Chart(nodes_cpu_usage_chart_ctx, {
        type: 'line',
        data: {labels: [],datasets: [{label: "",data: []}]},
        options: {
            legend: {display:false},
            title: {text: 'CPU Usage %',display: true},
            scales: {yAxes: [{ticks: {beginAtZero:true,max:100}}]}
        }
    });

    function update_cpu_temperature_chart(){
        $.get('/charts/cpu/temperature', function(result){
            if (result.chart.data == 'DISABLED'){
                // Hide chart if background data collector thread is disabled
                $("#cpu_temperature_chart").hide()
            } else {
                cpu_temperature_chart.data.datasets[0].data = result.chart.data;
                cpu_temperature_chart.data.labels = result.chart.labels;
                cpu_temperature_chart.update();
            }
        });
    }

    function update_cpu_usage_chart(){
        $.get('/cpu/usage', function(result){
            var labels = [];
            var data   = [];
            for ( cpu_num=0; cpu_num<result.cpu_usage.length; cpu_num++ ){
                var cpu_percent = String(result.cpu_usage[cpu_num])
                if (!cpu_percent.includes('.')){
                    cpu_percent = cpu_percent + '.0';
                }
                labels.push('CPU' + cpu_num);
                data.push(cpu_percent);
            }
            cpu_usage_chart.data.datasets[0].data  = data;
            cpu_usage_chart.data.labels = labels;
            cpu_usage_chart.update();
        });
    }

    function update_nodes_cpu_usage_chart(){
        $.get('/dashboard/nodes_cpu_usage', function(result){
            var labels = [];
            var data   = [];
            for ( node=0; node<result.cpu_usage.length; node++ ){
                var cpu_percent = String(result.cpu_usage[node].data.cpu_usage)
                if (cpu_percent == null){
                    cpu_percent = null;
                } else if (!cpu_percent.includes('.')){
                    cpu_percent = cpu_percent + '.0';
                }
                labels.push(result.cpu_usage[node].hostname + "\n" + result.cpu_usage[node].ipaddress);
                data.push(cpu_percent);
            }
            nodes_cpu_usage_chart.data.datasets[0].data  = data;
            nodes_cpu_usage_chart.data.labels = labels;
            nodes_cpu_usage_chart.update();
        });
    }
    setInterval(update_cpu_temperature_chart,5000);
    setInterval(update_cpu_usage_chart,1000);
    setInterval(update_nodes_cpu_usage_chart,1000);
</script>
{%endblock%}
