{%extends "base.html"%}
{%block title%}Dashboard{% endblock %}
{% block head %}
{% endblock %}
{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-tachometer-alt"></i> Dashboard</h1>
<table style="width:100%;" width="100%">
    <tr>
        <td>
            <canvas id="cpu_usage_chart" class="chartjs-container" width="500" height="400"></canvas>
        </td>
        <td>
            <canvas id="cpu_temperature_chart" class="chartjs-container" width="500" height="400"></canvas>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>

        </td>
    </tr>
</table>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/chartjs_utils.js"></script>
<script>
    update_cpu_usage_chart();
    update_cpu_temperature_chart();

    // Charts
    /*
    var cpu_usage_chart_ctx = $("#cpu_usage_chart");
    var cpu_usage_chart = new Chart(cpu_usage_chart_ctx, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'CPU Usage',
                data: [],
            }]
        },
        options: {
            animation: {
                duration: 0
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:True,
                        max:100
                    }
                }]
            }
        }
    });
    */
    var cpu_temperature_chart_ctx = $("#cpu_temperature_chart");
    var cpu_temperature_chart = new Chart(cpu_temperature_chart_ctx, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'CPU Temperature',
                data: [],
            }]
        },
        options: {
            animation: {
                duration: 0
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false
                    }
                }]
            }
        }
    });

    function update_cpu_temperature_chart(){
        $.get('/charts/cpu/temperature', function(result){
                cpu_temperature_chart.data.datasets[0].data = result.chart.data;
                cpu_temperature_chart.data.labels = result.chart.labels;
                cpu_temperature_chart.update();
            });
    }

    function update_cpu_usage_chart(){

    }

    setInterval(update_cpu_temperature_chart,5000);
    setInterval(update_cpu_usage_chart,5000);
</script>
{%endblock%}
