{%extends "base.html"%}
{%block title%}Locale{% endblock %}
{% block head %}
{% endblock %}
{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-globe"></i> Localization</h1>
<div class="form-group">
    <form method="post" action="/locale/keyboard/update">
        <label for="XKBMODEL">Keyboard Model <i class="fas fa-question-circle" id="XKBMODEL_info"></i></label>
        <select id="XKBMODEL" class="form-control" name="XKBMODEL">
        </select>
        <br/>
        <label for="XKBLAYOUT">Keyboard Layout <i class="fas fa-question-circle" id="XKBLAYOUT_info"></i></label>
        <input id="XKBLAYOUT" class="form-control" name="XKBLAYOUT" value={{XKBLAYOUT}}></input></td>
        <br/>
        <label for="XKBVARIANT">Keyboard Variant <i class="fas fa-question-circle" id="XKBVARIANT_info"></i></label>
        <input id="XKBVARIANT" class="form-control" name="XKBVARIANT" value={{XKBVARIANT}}></input></td>
        <br/>
        <label for="XKBOPTIONS">Keyboard Options <i class="fas fa-question-circle" id="XKBOPTIONS_info"></i></label>
        <input id="XKBOPTIONS" class="form-control" name="XKBOPTIONS" value={{XKBOPTIONS}}></input></td>
        <br/>
        <label for="BACKSPACE">Keyboard Backspace/Delete <i class="fas fa-question-circle" id="BACKSPACE_info"></i></label>
        <input id="BACKSPACE" class="form-control" name="BACKSPACE" value={{BACKSPACE}}></input></td>
    </form>
</div>
<script>
    get_keyboard_config_data();
    function get_keyboard_config_data(){
        $('#spinner').toggle();
        $.get('/locale/keyboard/configdata', function(result){
            for (var vendor in result.models[0]){
                console.log(vendor);
                //$('#XKBMODEL').append(new Option(name, value, true, true));
            }
        });
        $('#spinner').toggle();
    }
</script>
{%endblock%}
