{%extends "base.html"%}
{%block title%}Nodes{% endblock %}

{%block body%}
<h1 class="page-header" id="page-header" title="Discovered Raspberry Pi devices (running PiControl)"><i class="fas fa-share-alt"></i> Discovered PiControl Nodes</h1>
<table id="nodes" class="table table-hover" style="width:100%;" width="100%">
    <tr>
        <th>IP Address</th>
        <th>Hostname</th>
        <th>Model (Revision)</th>
        <th>Last Checkin</th>
    </tr>
</table>
<script>
    get_nodes();

    function get_nodes(){
        $.get('/nodes/refresh', function(result){
            for (var key in result){
                id = key.replace(/\./g, '');
                link = 'https://' + key + ':31415/';
                if ( $('#' + id).length ){
                    $('#' + id + '_ipaddress').html('<a href="' + link + '" class="node">' + key + '</a>');
                    $('#' + id + '_hostname').html('<a href="' + link + '" class="node">' + result[key].hostname + '</a>');
                    $('#' + id + '_model').html('<a href="' + link + '" class="node">' + result[key].model + ' (' + result[key].revision + ')</a>');
                    $('#' + id + '_last_checkin').html('<a href="' + link + '" class="node">' + result[key].last_checkin + '</a>');
                } else {
                    $('#nodes tr:last').after(
                            '<tr id="' + id + '">'
                            + '<td id="' + id + '_ipaddress"><a href="' + link + '" class="node">' + key + '</a></td>'
                            + '<td id="' + id + '_hostname"><a href="' + link + '" class="node">' + result[key].hostname + '</a></td>'
                            + '<td id="' + id + '_model"><a href="' + link + '" class="node">' + result[key].model + ' (' + result[key].revision + ')</a></td>'
                            + '<td id="' + id + '_last_checkin"><a href="' + link + '" class="node">' + result[key].last_checkin + '</a></td>'
                            + '</tr>'
                        );
                    $('#nodes tr:last').after(
                            '<tr id="' + id + '">'
                            + '<td id="' + id + '_ipaddress1">' + key + '</td>'
                            + '<td id="' + id + '_hostname2">' + result[key].hostname + '</td>'
                            + '<td id="' + id + '_model3">' + result[key].model + ' (' + result[key].revision + ')</td>'
                            + '<td id="' + id + '_last_checkin4">' + result[key].last_checkin + '</td>'
                            + '</tr>'
                        );
                }
            }
        });
    }

    setInterval(get_nodes,5000);
</script>
{%endblock%}
