{%extends "base.html"%}
{%block title%}Nodes{% endblock %}

{%block body%}
<h1 class="page-header" id="page-header" title="Raspberry Pi devices (running PiControl) on the network from which we have received a UDP Beacon"><i class="fas fa-share-alt"></i> Discovered PiControl Nodes</h1>
<table id="nodes" class="table table-hover" style="width:100%;"">
    <tr>
        <th>IP Address</th>
        <th>Hostname</th>
        <th>Model (Revision)</th>
        <th>Last Checkin</th>
    </tr>
</table>
<script>
    get_nodes();

    function get_nodes(){
        $.get('/nodes/refresh', function(result){
            for (i = 0; i < result.length; i++) {
                var table = document.getElementById("nodes");
                var tr = document.createElement("tr");
                var ipaddress = document.createElement("td");
                var hostname = document.createElement("td");
                var model = document.createElement("td");
                var last_checkin = document.createElement("td");
                ipaddress.appendChild(document.createTextNode(result[i].ipaddress));
                hostname.appendChild(document.createTextNode(result[i].hostname));
                model.appendChild(document.createTextNode(result[i].model));
                last_checkin.appendChild(document.createTextNode(result[i].last_checkin));
                tr.appendChild(ipaddress);
                tr.appendChild(hostname);
                tr.appendChild(model);
                tr.appendChild(last_checkin);
                table.appendChild(tr);
                /*
                console.log('i=' + i);
                link = 'https://' + result[i].ipaddress + ':31415/';
                if ( document.getElementById(i) ){
                    $('#' + i +  '_ipaddress').text(result[i].ipaddress);
                    $('#' + i + '_hostname').text(result[i].hostname);
                    $('#' + i + '_model').text(result[i].model + ' (' + result[i].revision + ')');
                    $('#' + i + '_last_checkin').text(result[i].last_checkin);
                } else {
                    console.log('<tr id="' + i + '"><td id="' + i +  '_ipaddress">' + result[i].ipaddress + '</td><td id="' + i +  '_hostname">' + result[i].hostname + '</td><td id="' + i +  '_model">' + result[i].model + ' (' + result[i].revision + ')</td><td id="' + i +  '_last_checkin">' + result[i].last_checkin + '</td></tr>');
                    $('test tr:last').after('<tr id="' + i + '"><td id="' + i +  '_ipaddress">' + result[i].ipaddress + '</td><td id="' + i +  '_hostname">' + result[i].hostname + '</td><td id="' + i +  '_model">' + result[i].model + ' (' + result[i].revision + ')</td><td id="' + i +  '_last_checkin">' + result[i].last_checkin + '</td></tr>');

                    $('#nodes tr:last').after(
                            '<tr id="' + i +  '"><td id="' + i +  '_ipaddress">' + result[i].ipaddress + '</td><td id="' + i +  '_hostname">' + result[i].hostname + '</td><td id="' + i +  '_model">' + result[i].model + ' (' + result[i].revision + ')</td><td id="' + i +  '_last_checkin">' + result[i].last_checkin + '</td></tr>'
                        );

                }
                */
            }
        });
    }

    setInterval(get_nodes,5000);
</script>
{%endblock%}
