{%extends "base.html"%}
{%block title%}Nodes{% endblock %}

{%block body%}
<h1 class="page-header" id="page-header" title="Raspberry Pi devices (running PiControl) on the network from which we have received a UDP Beacon"><i class="fas fa-share-alt"></i> Discovered PiControl Nodes</h1>
<table id="nodes_table" class="table table-hover" style="width:100%;"">
    <tr>
        <th>IP Address</th>
        <th>Hostname</th>
        <th>Model (Revision)</th>
        <th>Serial Number</th>
        <th>Last Checkin</th>
    </tr>
</table>
<script>
    get_nodes();

    function get_nodes(){
        $.get('/nodes/refresh', function(result){
            console.log(result);
            for (i = 0; i < result.node.length; i++) {
                link = 'https://' + result.node[i].ipaddress + ':31415/';
                if ( $('#' + i).length ){
                    $('#' + i +  '_ipaddress').html('<a href="' + link + '" target="_blank">' + result.node[i].ipaddress + '</a>');
                    $('#' + i + '_hostname').html('<a href="' + link + '" target="_blank">' + result.node[i].hostname + '</a>');
                    $('#' + i + '_model').html('<a href="' + link + '" target="_blank">' + result.node[i].model + ' (' + result.node[i].revision + ')</a>');
                    $('#' + i + '_serialnumber').html('<a href="' + link + '" target="_blank">' + result.node[i].serialnumber + '</a>');
                    $('#' + i + '_last_checkin').html('<a href="' + link + '" target="_blank">' + result.node[i].last_checkin + ' <i class="' + status_icon(result.node[i].last_checkin) + '"></i></a>');
                } else {
                    $('#nodes_table tr:last').after(
                            '<tr id="' + i +  '"><td id="' + i +  '_ipaddress"><a href="' + link + '" target="_blank">' + result.node[i].ipaddress + '</a></td><td id="' + i +  '_hostname"><a href="' + link + '" target="_blank">' + result.node[i].hostname + '</a></td><td id="' + i +  '_model"><a href="' + link + '" target="_blank">' + result.node[i].model + ' (' + result.node[i].revision + ')</a></td><td id=' + i + '_serialnumber><a href="' + link + '" target="_blank">' + result.node[i].serialnumber + '</a></td><td id="' + i +  '_last_checkin"><a href="' + link + '" target="_blank">' + result.node[i].last_checkin + ' <i class="' + status_icon(result.node[i].last_checkin) + '"></i></a></td></tr>'
                        );
                }
            }
        });
    }

    function status_icon(date){
        var last_checkin = (Date.now()-Date.parse(date)) / 1000;
        if ( last_checkin > 300){
            return("fas fa-times text-danger");
        } else if (last_checkin > 65){
            return("fas fa-exclamation-triangle text-warning");
        } else {
            return("fas fa-check text-success");
        }
    }

    setInterval(get_nodes,5000);
</script>
{%endblock%}

