{%extends "base.html"%}
{%block title%}Services{% endblock %}
{% block head %}
<script src="/static/js/spin.js"></script>
{% endblock %}
{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-cogs"></i> Services</h1>
<div id="spinner" class="modal" tabindex="-1" role="dialog" data-keyboard="false"
         data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <h3>Loading Service Status</h3>
            </div>
            <div class="modal-body" >
                <div style="height:200px">
                  <span id="spinner_div" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="service_table" class="table">
        <tr><th>Service Name</th><th>Status</th></tr>
    </table>
</div>
<script>
    $('#spinner').modal('show');
    $.get('/services/status', function(result){
        for (service_name in result){
            var service_button = ""; // disable service_button until it works...
            if (result[service_name] == 'Running'){
                _class = 'bg-success';
                //service_button = '<button id="btn_' + service_name + '" class="btn btn-success" onclick="toggle_service(\'' + service_name + '\', \'stop\');">Stop Service</button>'
            } else {
                _class = 'text-muted';
                //service_button = '<button id="btn_' + service_name + '" class="btn btn-danger" onclick="toggle_service(\'' + service_name + '\',\'start\');">Start Service</button>'
            }
            $('#service_table tr:last').after('<tr><th class="' + _class + '">' + service_name + '</th><td class="' + _class + '">' + result[service_name] + '</td><td>' +  service_button + '</td></tr>');
        }
        $('#spinner').modal('hide');
    });

    var spinner_options = {
        lines: 13, // The number of lines to draw
        length: 20, // The length of each line
        width: 10, // The line thickness
        radius: 30, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#000', // #rgb or #rrggbb or array of colors
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: 'auto', // Top position relative to parent in px
        left:'auto' // Left position relative to parent in px
    };

    var target = document.getElementById('spinner_div');
    var spinner = new Spinner(spinner_options).spin(target);

    function toggle_service(service_name, action){
        $.post('/service/control', { service_name: service_name, action: action }, function(result){
            console.log(result);
        });
        if ( $('#btn_' + service_name).text() == 'Stop Service' ){
            $('#btn_' + service_name).text('Start Service');
            $('#btn_' + service_name).addClass('btn-danger');
            $('#btn_' + service_name).removeClass('btn-success');
        } else {
            $('#btn_' + service_name).text('Stop Service');
            $('#btn_' + service_name).addClass('btn-success');
            $('#btn_' + service_name).removeClass('btn-danger');
        }
    }
</script>
{%endblock%}
