{%extends "base.html"%}
{%block title%}Users{% endblock %}

{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-user"></i> Users</h1>
<table class="table-responsive" id="users">
    <tr>
        <th>Username</th><th>UID</th><th>Group</th><th>Home Directory</th><th>Shell</th>
    </tr>
</table>
<script>
    $.get('/users/get_all', function(result){
        console.log(result);
        $('#users tr:last').after(
                                  '<tr>'
                                  + '<td></td>'
                                  + '<td></td>'
                                  + '<td></td>'
                                  + '<td></td>'
                                  + '<td></td>'
                                  + '</tr>
                                  );
    });
</script>
{%endblock%}
