{%extends "base.html"%}
{%block title%}Users{% endblock %}

{%block body%}
<div class="container-fluid">
    <h1 class="page-header" id="page-header"><i class="fas fa-user"></i> Users</h1>
    <div class="row">
        <button class="btn btn-primary" id="btn_show_users" onclick="toggle_users();">Show all users</button>
    </div>
    <div class="row">
        <table class="table-responsive table-bordered table-hover" id="users">
            <tr>
                <th class="heading">Username</th><th class="heading">UID</th><th class="heading">Group</th><th class="heading">Home Directory</th><th class="heading">Shell</th>
            </tr>
        </table>
    </div>
    <hr/>
    <h1 class="page-header"><i class="fas fa-users"></i> Groups</h1>
    <div class="row">
        <button class="btn btn-primary" id="btn_show_groups" onclick="toggle_groups();">Show all groups</button>
    </div>
    <div class="row">
        <table class="table-responsive table-bordered table-hover" id="groups">
            <tr>
                <th class="heading">Group</th><th class="heading">GID</th><th class="heading">Members</th>
            </tr>
        </table>
    </div>
</div>
<script>
    $.get('/users/get_all', function(result){
        for (user in result){
            if ( (result[user].shell == '/usr/sbin/nologin') || (result[user].shell == '/bin/false') || (result[user].shell == '/bin/sync' ) ){
                tr_class = 'inactive_user';
            } else {
                tr_class = 'active_user';
            }
            $('#users tr:last').after(
                                      '<tr class="' + tr_class + '">'
                                      + '<td>' + user + '</td>'
                                      + '<td>' + result[user].uid + '</td>'
                                      + '<td>' + result[user].group_name + '(' + result[user].gid + ')</td>'
                                      + '<td>' + result[user].home_dir + '</td>'
                                      + '<td>' + result[user].shell + '</td>'
                                      + '</tr>'
                                      );
            }
    });
    $.get('/groups/get_all', function(result){
        for (group in result){
            if (result[group].members.length < 1){
                tr_class = 'inactive_group';
            } else {
                tr_class = 'active_group';
            }
            $('#groups tr:last').after(
                                      '<tr class="' + tr_class + '">'
                                      + '<td>' + group + '</td>'
                                      + '<td>' + result[group].gid + '</td>'
                                      + '<td>' + result[group].members + '</td>'
                                      + '</tr>'
                                      );
            }
    });
    function toggle_users(){
        if ( $('#btn_show_users').text() == 'Show all users' ){
            $('#btn_show_users').text('Show only users with a login shell');
        } else {
            $('#btn_show_users').text('Show all users');
        }
        $('.inactive_user').toggle();
    }
    function toggle_groups(){
        if ( $('#btn_show_groups').text() == 'Show all groups' ){
            $('#btn_show_groups').text('Show only groups with members');
        } else {
            $('#btn_show_groups').text('Show all groups');
        }
        $('.inactive_group').toggle();
    }
</script>
{%endblock%}
