{%extends "base.html"%}
{%block title%}Users{% endblock %}

{%block body%}
<h1 class="page-header" id="page-header"><i class="fas fa-user"></i> Users</h1>
<table class="table-responsive" id="users">
    <tr>
        <th>Username</th><th>UID</th><th>Group</th><th>Home Directory</th><th>Shell</th>
    </tr>
</table>
<script>
    $.get('/users/get_all', function(result){
        for (user in result){
            $('#users tr:last').after(
                                      '<tr>'
                                      + '<td>' + user + '</td>'
                                      + '<td>' + result[user].uid + '</td>'
                                      + '<td>' + result[user].group_name + '</td>'
                                      + '<td>' + result[user].home_dir + '</td>'
                                      + '<td>' + result[user].shell + '</td>'
                                      + '</tr>'
                                      );
            }
    });
</script>
{%endblock%}
